<%= form_with(model: part, local: true) do |form| %>
  <% if part.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(part.errors.count, "error") %> prohibited this part from being saved:</h2>
      <ul>
        <% part.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :part_number, class: "form-label" %>
    <%= form.text_field :part_number, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :part_name, class: "form-label" %>
    <%= form.text_field :part_name, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :description, class: "form-label" %>
    <%= form.text_area :description, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit 'Save Part', class: "btn btn-primary" %>
  </div>
<% end %>
