<div id="<%= dom_id part %>">
  <p>
    <strong>Part number:</strong>
    <%= part.part_number %>
  </p>

  <p>
    <strong>Part name:</strong>
    <%= part.part_name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= part.description %>
  </p>

  <p>
    <strong>Blocks:</strong>
    <% if part.blocks.present? %>
      <% part.blocks.each do |block| %>
        <%= block.block_name %> (<%= block.block_number %>)<br>
      <% end %>
    <% else %>
      No blocks associated
    <% end %>
  </p>
</div>
