<h1>Parts</h1>

<%= search_form_for @q, url: parts_path, method: :get, html: { class: 'mb-3' } do |f| %>
<div class="input-group">
    <%= f.search_field :part_number_or_part_name_or_description_or_material_or_nominal_size_or_part_name_eg_cont, class: "form-control", placeholder: "Search Parts" %>
    <div class="input-group-append">
        <%= f.submit "Search", class: "btn btn-outline-primary" %>
    </div>
</div>
<% end %>

<table class="table shadow table-hover table-responsive">
    <thead class="table-light">
        <tr>
            <th>Part Number</th>
            <th>Part Name</th>
            <th>Image</th>
            <th>Material</th>
            <th>Nominal Size</th>
            <th>Part Name (English)</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        <% @parts.each do |part| %>
        <tr data-href="<%= part_path(part) %>" class="clickable-row">
            <td><%= part.part_number %></td>
            <td><%= part.part_name %></td>
            <td>
                <% if part.image.attached? %>
                <%= image_tag part.image, size: "50x50", class: "img-thumbnail" %>
                <% else %>
                No Image
                <% end %>
            </td>
            <td><%= part.material %></td>
            <td><%= part.nominal_size %></td>
            <td><%= part.part_name_eg %></td>
            <td><%= part.standard_price %></td>
        </tr>
        <% end %>
    </tbody>
</table>

<div class="d-flex justify-content-center mt-3">
    <%= paginate @parts, theme: 'bootstrap-5' %>
</div>