<h1>Parts</h1>

<div class="mb-3">
  <%= form_with(url: parts_path, method: :get, local: true) do |form| %>
    <div class="input-group">
      <%= form.text_field :search, value: params[:search], class: "form-control", placeholder: "Search Parts" %>
      <div class="input-group-append">
        <%= form.submit "Search", class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>

<table class="table table-bordered table-striped table-hover table-responsive">
  <thead>
    <tr>
      <th>Part Number</th>
      <th>Part Name</th>
      <th>Description</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <% @parts.each do |part| %>
      <tr>
        <td><%= link_to part.part_number, part %></td>
        <td><%= part.part_name %></td>
        <td><%= part.description %></td>
        <td><%= link_to 'Edit', edit_part_path(part), class: "btn btn-outline-warning btn-sm" %></td>
        <td><%= button_to 'Destroy', part, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger btn-sm" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Part', new_part_path, class: "btn btn-success" %>
