<h1>New Part</h1>

<%= form_with(model: @part, url: block_parts_path(@block), local: true) do |form| %>
  <% if @part.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@part.errors.count, "error") %> prohibited this part from being saved:</h2>
      <ul>
        <% @part.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :part_number_suffix, "Part Number (last 3 digits)", class: 'form-label' %>
    <div class="input-group">
      <span class="input-group-text"><%= @block.block_number %>-</span>
      <%= form.text_field :part_number_suffix, class: 'form-control', required: true %>
      <div class="invalid-feedback">Please provide a part number suffix.</div>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :part_name %>
    <%= form.text_field :part_name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit 'Create Part', class: "btn btn-outline-primary" %>
  </div>
<% end %>

<%= link_to 'Back to Blocks', blocks_path, class: "btn btn-outline-secondary mt-3" %>
