<h1>Part: <%= @part.part_name %></h1>

<div class="card mb-3">
  <div class="card-header">
    Part Details
  </div>
  <div class="card-body">
    <h5 class="card-title"><%= @part.part_number %></h5>
    <p class="card-text"><strong>Part Name:</strong> <%= @part.part_name %></p>
    <p class="card-text"><strong>Description:</strong> <%= @part.description %></p>
  </div>
</div>

<h2>Related Versions</h2>
<%= link_to 'New Version', new_part_version_path(@part), class: "btn btn-primary mb-3" %>
<ul class="list-group mb-3">
  <% @part.versions.each do |version| %>
    <li class="list-group-item">
      <%= link_to version.version_number, version %>
      <small class="text-muted">Description: <%= version.description %></small>
    </li>
  <% end %>
</ul>

<h2>Related Blocks</h2>
<ul class="list-group mb-3">
  <% @part.blocks.each do |block| %>
    <li class="list-group-item">
      <%= link_to block.block_name, block %>
      <small class="text-muted">Block Number: <%= block.block_number %></small>
    </li>
  <% end %>
</ul>

<!-- Buttons Group -->
<div class="btn-group" role="group" aria-label="Basic example">
  <%= link_to 'Edit', edit_part_path(@part), class: "btn btn-warning" %>
  <%= link_to 'Back to Parts', parts_path, class: "btn btn-secondary" %>
  <%= button_to 'Destroy', @part, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
</div>
