<h1>部品管理システム</h1>

<ul>
  <li><%= link_to 'Type 一覧', types_path %></li>
  <li><%= link_to 'Model 一覧', models_path %></li>
  <li><%= link_to 'Block 一覧', blocks_path %></li>
  <li><%= link_to 'Part 一覧', parts_path %></li>
  <li><%= link_to 'Version 一覧', versions_path %></li>
</ul>
