<h1>Blocks</h1>

<div class="mb-3">
  <%= search_form_for @q, url: blocks_path, method: :get, local: true do |form| %>
    <div class="input-group">
      <%= form.text_field :block_name_or_block_number_cont, class: "form-control", placeholder: "Search Blocks" %>
      <div class="input-group-append">
        <%= form.submit "Search", class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>

<table class="table table-bordered table-striped table-hover table-responsive">
  <thead>
    <tr>
      <th>Block Number</th>
      <th>Block Name</th>
      <th>Description</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <% @blocks.each do |block| %>
      <tr>
        <td><%= link_to block.block_number, block %></td>
        <td><%= block.block_name %></td>
        <td><%= block.description %></td>
        <td><%= link_to 'Edit', edit_block_path(block), class: "btn btn-outline-warning btn-sm" %></td>
        <td><%= button_to 'Destroy', block, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger btn-sm" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Block', new_block_path, class: "btn btn-success" %>
