<%= form_with(model: version, local: true) do |form| %>
  <% if version.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(version.errors.count, "error") %> prohibited this version from being saved:</h2>
      <ul>
        <% version.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :version_number, class: "form-label" %>
    <%= form.text_field :version_number, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :description, class: "form-label" %>
    <%= form.text_area :description, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :part_id, "Part", class: "form-label" %>
    <%= form.collection_select :part_id, Part.all, :id, :part_number, {}, { class: "form-select" } %>
  </div>

  <div class="actions">
    <%= form.submit 'Save Version', class: "btn btn-primary" %>
  </div>
<% end %>
