<h1>Versions</h1>

<div class="mb-3">
  <%= search_form_for @q, url: versions_path, method: :get, local: true do |form| %>
    <div class="input-group">
      <%= form.text_field :version_number_or_description_cont, class: "form-control", placeholder: "Search Versions" %>
      <div class="input-group-append">
        <%= form.submit "Search", class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>

<table class="table table-bordered table-striped table-hover table-responsive">
  <thead>
    <tr>
      <th>Version Number</th>
      <th>Description</th>
      <th>Part Number</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <% @versions.each do |version| %>
      <tr>
        <td><%= link_to version.version_number, version %></td>
        <td><%= version.description %></td>
        <td><%= version.part.part_number if version.part %></td>
        <td><%= link_to 'Edit', edit_version_path(version), class: "btn btn-outline-warning btn-sm" %></td>
        <td><%= button_to 'Destroy', version, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger btn-sm" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Version', new_version_path, class: "btn btn-success" %>
