<p id="notice"><%= notice %></p>

<p>
  <strong>Version Number:</strong>
  <%= @version.version_number %>
</p>

<p>
  <strong>Description:</strong>
  <%= @version.description %>
</p>

<p>
  <strong>File Path:</strong>
  <%= @version.file_path %>
</p>

<p>
  <strong>Scale:</strong>
  <%= @version.scale %>
</p>

<p>
  <strong>Sheet Size:</strong>
  <%= @version.sheet_size %>
</p>

<p>
  <strong>Unit:</strong>
  <%= @version.unit %>
</p>

<p>
  <strong>Drawn By:</strong>
  <%= @version.drawn_by %>
</p>

<p>
  <strong>Checked By:</strong>
  <%= @version.checked_by %>
</p>

<p>
  <strong>Approved By:</strong>
  <%= @version.approved_by %>
</p>

<p>
  <strong>Drawn Date:</strong>
  <%= @version.drawn_date %>
</p>

<% if @version.drawing_image.attached? %>
  <p>
    <strong>Drawing Image:</strong><br>
    <%= image_tag @version.drawing_image.variant(resize: "500x500") %>
  </p>
<% end %>

<%= form_with(model: @version, local: true) do |form| %>
  <div class="form-group">
    <%= form.label :drawing_image, "Upload Drawing Image" %>
    <%= form.file_field :drawing_image, class: 'form-control' %>
  </div>
  <div class="actions">
    <%= form.submit "Upload Image", class: 'btn btn-primary' %>
  </div>
<% end %>

<%= link_to 'Edit', edit_version_path(@version), class: "btn btn-warning" %> |
<%= link_to 'Back to Versions', versions_path, class: "btn btn-secondary" %> |
<%= button_to 'Destroy', @version, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
